<h2 mat-dialog-title class="mat-dialog-title">{{ data.title }}</h2>
<div mat-dialog-content class="mat-dialog-content">
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions>
  <div class="example-button-row">
    <button
      mat-button
      (click)="onNoClick()"
      class="mat-focus-indicator mat-button mat-button-base"
    >
      <span class="mat-button-wrapper">No Thanks</span>
      <div matripple="" class="mat-ripple mat-button-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <button
      class="mat-focus-indicator mat-raised-button mat-button-base mat-warn"
      (click)="onDeleteInvoice()"
    >
      <span class="mat-button-wrapper">Ok</span>
      <div matripple="" class="mat-ripple mat-button-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </div>
</div>
