<mat-card>
  <div class="form-container">
    <mat-toolbar>Add Invoice</mat-toolbar>
    <mat-form-field>
      <mat-label>Item</mat-label>
      <input #item matInput placeholder="Item" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput type="number" placeholder="Quantity" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="invoiceDate" />
      <mat-datepicker-toggle
        matSuffix
        [for]="invoiceDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #invoiceDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a Due date</mat-label>
      <input matInput [matDatepicker]="invoiceDueDate" />
      <mat-datepicker-toggle
        matSuffix
        [for]="invoiceDueDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #invoiceDueDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rate</mat-label>
      <input matInput type="number" placeholder="Rate" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tax</mat-label>
      <input matInput type="number" placeholder="Tax" />
    </mat-form-field>

    <div class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        [ngStyle]="{ 'margin-right': '10px' }"
      >
        Save
      </button>
      <button mat-raised-button color="warn">Reset</button>
    </div>
  </div>
</mat-card>
