<div id="logreg-forms">
  <form class="form-signin" (ngSubmit)="onSubmit()" #signInForm="ngForm">
    <h1
      class="h3 mb-3 font-weight-normal"
      [ngStyle]="{ 'text-align': 'center' }"
    >
      Admin Sign in
    </h1>
    <hr />

    <!-- <div class="social-login">
      <button mat-flat-button class="btn facebook-btn social-btn" type="button">
        <i class="fa fa-facebook-square"></i> Sign in with Facebook
      </button>
      <button
        mat-flat-button
        class="btn google-btn social-btn"
        color="warm"
        type="button"
      >
        <i class="fa fa-google"></i> Sign in with Google+
      </button>
    </div> -->

    <!-- <p [ngStyle]="{ 'text-align': 'center' }">OR</p> -->

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        id="inputEmail"
        name="email"
        [(ngModel)]="email"
        matInput
        placeholder="Email address"
        #adminEmail="ngModel"
        email
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        required
      />
      <mat-error
        *ngIf="
          adminEmail.errors &&
          (adminEmail.invalid || adminEmail.touched) &&
          adminEmail.errors.pattern
        "
        >Please enter a valid email address.</mat-error
      >
      <mat-error
        *ngIf="
          adminEmail.errors &&
          (adminEmail.invalid || adminEmail.touched) &&
          adminEmail.errors.required
        "
        >Email is required.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="show-hide-pass-field">
      <mat-label>Password</mat-label>
      <show-hide-password
        size="sm"
        btnStyle="warning"
        class="show-hide-password"
      >
        <input
          type="password"
          id="inputPassword"
          name="password"
          matInput
          placeholder="Password"
          [(ngModel)]="password"
          #adminPassword="ngModel"
          minlength="8"
          required
        />
      </show-hide-password>

      <mat-error
        *ngIf="
          adminPassword.errors &&
          adminPassword.touched &&
          adminPassword.errors.minlength
        "
        >Password should be at least 8 characters.</mat-error
      >
      <mat-error
        *ngIf="
          adminPassword.errors &&
          !adminPassword.errors.minlength &&
          (adminPassword.touched || adminPassword.invalid)
        "
        >Password is required.</mat-error
      >
    </mat-form-field>

    <button
      mat-flat-button
      class="btn btn-success btn-block"
      type="submit"
      [disabled]="this.signInForm.invalid || isSubmitting"
    >
      <i class="fa fa-sign-in"></i> Sign in
    </button>
    <a href="#" id="forgot_pswd">Forgot password?</a>
    <hr />

    <!-- <button
      mat-flat-button
      class="btn btn-primary btn-block"
      type="button"
      id="btn-signup"
    >
      <i class="fa fa-user-plus"></i> Sign up New Account
    </button> -->
  </form>

  <form action="/reset/password/" class="form-reset">
    <input
      type="email"
      id="resetEmail"
      class="form-control"
      placeholder="Email address"
      required=""
      autofocus=""
    />
    <button class="btn btn-primary btn-block" type="submit">
      Reset Password
    </button>
    <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
  </form>

  <br />
</div>
