/* You can add global styles to this file, and also import other style files */
/* @import "@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body,
p,
br,
h1,
h2,
h3,
h4,
h5,
span {
  padding: 0px;
  margin: 0px;
}

/* .mat-dialog-container button.primary {
  color: #f44336;
}

.mat-dialog-container button {
  padding: 5px 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-right: 5px;
} */
.mat-form-field {
  margin: 3px 0px;
}
