/* You can add global styles to this file, and also import other style files */
/* @import "@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body,
p,
br,
h1,
h2,
h3,
h4,
h5,
span {
  padding: 0px;
  margin: 0px;
}
.app-sidenav-container .mat-sidenav-content {
  transition: 0.7s;
}
.mat-form-field-label {
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    color 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    width 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}
